*{
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?71993837');
  src: url('../font/fontello.eot?71993837#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?71993837') format('woff2'),
       url('../font/fontello.woff?71993837') format('woff'),
       url('../font/fontello.ttf?71993837') format('truetype'),
       url('../font/fontello.svg?71993837#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
}
#wrapper {
	width: 100%;
	overflow: hidden;
	position: relative;
}
.slider .content{
	position: relative;
	width: auto;
	padding: 0 15px;
}

.slider header{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	padding: 0px 15px;
	box-sizing: border-box;
	overflow: hidden;
}

.slider header .logo{
	font-family: 'Pacifico', cursive;
	float: left;
	margin-top: 5px;
}

.slider header .logo a{
	color: #ffc155;
	font-size: 20px;
	line-height: 20px;
	text-decoration: none;
}

.enter{
	float: right;
	margin-top: 10px;
	color: #ffc155;
	cursor: pointer;
	display: none;
}

#nav {
  	float: right;
  	margin: 0 -38px 0 0;
 	padding: 10px 0 0;
  	list-style: none;
}
#nav li {
  	float: left;
 	margin: 0 38px;
}
#nav a {
	text-decoration: none;
	color: #fff;
}

.mobi-menu{
	display: none;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background: white; 
	z-index: 999;
}

.mobi-menu i{
	position: absolute;
	right: 15px;
	top: 15px;
	color: #ffc155;
	font-size: 30px;
	cursor: pointer;
}

.mobi-menu ul li a{
	color: #ffc155;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
}

.mobi-menu ul li{
	text-align: center;
	margin-bottom: 10px;
}

.mobi-menu ul{
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translate(0, -50%)
}

.mobi-menu ul li:last-child{
	margin-bottom: 0;
}

.mobi-menu.active{
	display: block;
}

.demo-icon
    {
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      speak: none;
     
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: .2em;
      text-align: center;
    }

.icon-menu:before { content: '\e800'; } ''
.icon-cancel:before { content: '\e801'; } ''
.icon-tools:before { content: '\e802'; } ''
.icon-database:before { content: '\e803'; } ''
.icon-gauge:before { content: '\e804'; } ''
.icon-basket:before { content: '\e805'; } ''
.icon-chart-line:before { content: '\e806'; } ''
.icon-globe-alt-outline:before { content: '\e807'; } ''
.icon-cog:before { content: '\e808'; } ''
.icon-eye:before { content: '\e809'; } ''
.icon-chat-empty:before { content: '\e80a'; } ''
.icon-adult:before { content: '\e80b'; } ''
.icon-location:before { content: '\e80c'; } ''
.icon-mail-alt:before { content: '\e80d'; } ''
.icon-phone:before { content: '\e80e'; } ''
.icon-twitter:before { content: '\e80f'; } ''
.icon-facebook:before { content: '\e810'; } ''
.icon-linkedin:before { content: '\e811'; } '' 
}

.slider .slider-items .slick-arrow, .slider .slider-items .slick-dots{
	display: none !important;
}

.slider-items .slick-list .slick-track>div{
	padding: 100px 0 50px 0; 
	text-align: center;
}

.slider-items .slick-list .slick-track>div h2{
	font-size: 24px;
	line-height: 32px;
	font-weight: 700;
	color: white;
	font-family: 'Open Sans', sans-serif;
}

.slider-items .slick-list .slick-track>div p{
	font-size: 12px;
	line-height: 16px;
	font-weight: 400;
	color: white;
	font-family: 'Open Sans', sans-serif;
}

.slider-items .slick-list .slick-track>div a{
	display: inline-block;
	background: #709dca; 
	color: white;
	text-transform: uppercase;
	border-radius: 3px;
	padding: 10px 15px;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 16px;
	font-weight: 700;
	margin-top: 30px;
}

/* END SLIDER!!!!*/

.content {
	max-width: 1175px;
	margin: 0 auto;
	text-align: center;
}
.content h1 {
	margin-top: 30px;
	font-size: 26px;
	color: #709dca;
}
.content-holder {
	max-width: 1175px;
	padding:0 10px;
  	margin:0 auto;
  	overflow: hidden;
  	padding-bottom: 95px;
}
.content-info {
	width: 45%;
	padding: 0 2.5%;
	float: left;
	margin-top: 90px;
}
.content-info-r {
	float: right;
}
.title {
  	width: 32px;
  	height: 32px;
  	float: left;
  	padding-right: 25px;
}
.content-info h2 {
	color: #394b50;
	font-size: 16px;
	padding-bottom: 20px;
	text-transform: uppercase;
}
.content-info p {
	font-size: 13px;
	color: #7b7b7b;
	line-height: 22px;
}
/*CONTENT END*/
.info {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	background: url(../images/info-opacity.png);
}
.info-bg {
	width: 50%;
	float: left;
}
.info-holder {
	float: right;
}
.info-txt {
	width: 50%;
	float: left;
}
.info-txt .info-holder {
	padding: 40px;
}
.info-txt h1 {
	color: #fff;
	padding-bottom: 38px;
}
.info-txt p {
	color: #fff;
	line-height: 24px;
	padding-bottom: 38px;
}
.info-txt a {
	text-decoration: none;
	color: #fff;
	padding: 17px 32px;
	border: 1px solid #cb8d21;
	border-radius: 6px;
	background-color: #e7ad48;
	display: inline-block;
}
.info-main {
	width: 100%;
	margin-bottom:100px;
}
/*INFO END*/
.holder {
	width: 100%;
	margin: 0 auto;
	font-size: 16px;
	color: #5b646e;
}
.holder-info {
	max-width: 1175px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}
.holder-info ul{
	padding-top: 20px;
	padding-bottom: 20px;
}
.holder-info h1 {
	color: #709dca;
}
.holder-info li{
	display: inline-block;
}
.holder-nav li {
	display: inline-block;
	padding-right: 40px;
	padding-top: 40px;
}
.holder-nav a:hover {
	background-color: #709dca;
	color: #fff;
}

.holder-nav a {
	padding: 6px 20px;
	border-radius: 8px;
	display: block;
	text-decoration: none;
	color: #46515d;
}
.holder-nav ul {
	margin-left: 380px;
	margin-bottom: 35px;
}
.holder-galery {
	width: 100%;
	overflow: hidden;
	padding-bottom: 75px; 
}
.holder-galery li {
	list-style: none;
	float: left;
	width: 25%;
	margin-bottom: -7px;
	margin-right: -1px;
}
.holder-galery img {
	vertical-align: top;
	width: 100%;
}
/*HOLDER END*/
.coments {
	max-width: 1175px;
	margin: 0 auto;
	text-align: center;
}
.coments li {
	display: inline-block;
}
.coments h1 {
	color: #709dca;
	padding-bottom: 20px;
}
.coment {
	max-width: 1175px;
	margin: 0 auto;
	overflow: hidden;
}
.coment-content {
	width: 450px;
	float: left;
	overflow: hidden;
	margin: 75px 0 30px 80px;
}
.coment-content p {
	text-align: left;
	color: #7b7b7b;
	margin-bottom: 10px;
	padding: 25px 25px;
	background-color: #f6f3f3;
}
.coment-content ul {
	float: left;
}
.coment-content li {
	padding-right: 20px;
	display: inline-block;
	vertical-align: middle;
}
.coment-content li span {
	font-weight: bold;
}
.coment-content-r {
	float: right;
	margin-right: 45px;
}
.coment-tab li {
	display: inline-block;
	padding-right: 5px;
	margin-bottom: 50px;
}
.coment-tab a {
	width: 10px;
	border:3px solid #fff;
	background: #d4d3d4;
	border-radius: 50%;
	height: 10px;
	display: block;
}
.coment-tab a:hover {
	border-color: #77a2cc;
	background: #fff;
}
/*COMENTS END*/
#footer {
	width: 100%;
	margin: 0 auto;
	background-color: #273a43;
}
#footer .content {text-align: left;}
.footer-holder {
	margin: 0 -11px;
	overflow: hidden;
}
.footer-content {
	width: 270px;
	float: left;
	padding-bottom:30px;
	padding-right: 24px;
}
.footer-content li {
	list-style: none;
}
.footer-content a {
	text-decoration: none;
	color: #fff;
	padding-left: 10px;
}
.contact-info {
	margin-top: 15px;
}
.footer-content h2 {
	color: #fff;
	padding-bottom: 25px;
	padding-top: 70px;
}
.footer-content p {
	color: #c3c3c3;
	font-size: 15px;
	line-height: 18px;
	margin: 0 0 5px;
}
.footer-content span {
	color: #71b6d5;
}
.twitter-list li {
	background: url(../images/twetter-logo.png) no-repeat;
	padding: 0 0 10px 30px;
}
.search-btn {
    width:267px;
    height:37px;
    padding-top:40px;
}
.search-btn input[type=text]{
    color:#6e7172;
    background: #172227;
    border: none;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.search-btn input[type=button]{
	color:#fff;
	cursor: pointer;
	background: #71b6d5;
	border: none;
	padding: 10px;
	border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.footer-info {
	width: 100%;
	background: #172227;
}
.footer-info-content{
	max-width: 1175px;
	margin: 0 auto;
	padding-bottom: 37px;
	padding-top: 40px;
	overflow: hidden;
}
.footer-info-content a{
	text-decoration: none;
	color: #c3c3c3;
	float: left;
	padding-right: 270px;
}
.footer-info-icon li {
	float: right;
	padding-right: 5px;
}

/*END FOOTER*/




@media screen and (min-width: 641px){
	.slider .slider-items .slick-arrow, .slider .slider-items .slick-dots{
	display: block !important;
	}
	.slider .slider-items .slick-arrow{
		position: absolute;
		top: 57%;
		margin-top: -43px;
		text-indent: -9999999px;
		z-index: 5;
		border-radius: 50%;
		border: 1px solid #709dca;
	}
	.slider .slider-items .slick-prev{
		background: url(../images/arrow.png) no-repeat 50% 50%;
		width: 43px;
		height: 43px;
		left: 25px;
	}
	.slider .slider-items .slick-next{
		transform: rotate(180deg);
		background: url(../images/arrow.png) no-repeat 50% 50%;
		width: 43px;
		height: 43px;
		right: 25px;
	}
	.slider .slider-items .slick-dots{
		width: 100%;
		position: absolute;
		bottom: 15px;
		text-align: center;
	}
	.slider .slider-items .slick-dots li{
		display: inline-block;
		margin: 0 5px;
		border: 1px solid transparent;
		border-radius: 50%;
		width: 20px;
		height: 20px;
	}
	.slider .slider-items .slick-dots li.slick-active{
		border: 1px solid #709dca;
	}
	.slider .slider-items .slick-dots li button{
		width: 7px;
		height: 7px;
		border-radius: 50%;
		margin: 7px;
		text-indent: -999999px;
		border: none;
	}
	.slider .slider-items .slick-dots li.slick-active{
		border: 1px solid #709dca;
	}
	
}
@media screen and (max-width: 1023px){
	.enter {
		display: block;
	}
	#nav {display: none;}
	.info-txt,
	.info-bg {
		width: 100%;
		float: none;
		text-align: center;
	}
	.coment-content {
		width: 100%;
		float: none;
		text-align: center;
	}
	.coment-content-r {
		width: 100%;
		float: none;
		text-align: center;
	}
}
@media screen and (max-width: 767px){
	.content-info {
		width: 100%;
		padding: 0;
	}
}
